@model IEnumerable<BasicRepository.Models.Classes.Personnel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonnelSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityId)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.PersonnelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonnelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonnelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
